# Dataset files
*.zip
# *.safetensors  <-- Hapus atau comment baris ini
# *.pth          <-- Hapus atau comment baris ini
notebooks/Dal Lake Floating Plastic Waste Detection Dataset (FloPWD 2025)/
data/