
# Dataset files
*.zip
*.safetensors
*.pth
notebooks/Dal Lake Floating Plastic Waste Detection Dataset (FloPWD 2025)/
data/

notebooks/Dal Lake Floating Plastic Waste Detection Dataset (FloPWD 2025).zip
